{% extends "base.html" %} {% load static %} {% block main %}

<form method="post" style="
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3dce6
" class="custom_form">
  {% csrf_token %}
  <div class="flex flex-col gap-4 container m-auto max-w-[1024px] p-8">
    <div class="w-full items-center justify-center">

    </div>
    <div class="flex flex-col gap-2">
      <label for="full_name">Full Name:</label>
      <input
        class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
        type="text"
        id="full_name"
        name="full_name"
        required
      />
    </div>
    <div class="flex flex-col gap-2">
      <label for="email">Email:</label>
      <input
        class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
        type="email"
        id="email"
        name="email"
        required
      />
    </div>

    <div class="flex flex-col gap-2">
      <label for="phone">Phone Number:</label>
      <input
        class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
        id="phone"
        type="tel"
        name="phone_number"
        required
      />
      <!-- Hidden input for storing the country code -->
      <input type="hidden" id="country_code" name="country_code">
    </div>

    <button
      class="bg-slate-500 text-white font-bold py-2 px-4 rounded hover:bg-slate-700 focus:outline-none focus:ring-2 slate:ring-blue-500 focus:ring-opacity-50 mt-4"
      type="submit"
    >
      Submit
    </button>
  </div>
</form>

{% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@24.3.4/build/js/intlTelInput.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@24.3.4/build/js/utils.js"></script>
<script>
  const input = document.querySelector("#phone");
  const iti = window.intlTelInput(input, {
    initialCountry: "us",
    utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@24.3.4/build/js/utils.js",
  });

  // store the instance variable so we can access it in the console e.g. window.iti.getNumber()
  window.iti = iti;

  // On form submission, get the two-letter country code and store it in the hidden input
  document.querySelector('form').addEventListener('submit', function (e) {
    const countryISO2 = iti.getSelectedCountryData().iso2;
    document.querySelector('#country_code').value = countryISO2.toUpperCase(); // Store the two-letter country code
  });
</script>

{% endblock %}
